.label {
  margin-top: 1rem;
  margin-bottom: 10px;
}

input {
    width: 60%;
    padding: 7px;
}

.select {
  border-radius: 3px;
  background-color: #f6f6f6;
  border: 1px solid #c5c5c5;
  padding: 0.4em 1em;
  display: inline-block;
  width: 14em;
  font-size: 16px;
}

.option {
  overflow: hidden;
  text-overflow: ellipsis;
}
