.employeeForm {
  display: flex;
  flex-direction: column;
  max-width: 650px;
  margin: 0 auto;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #9a4112;
}

.employeeForm label {
  color: white;
  font-size: 16px;
}

.employeeForm input,
.employeeForm select {
  border-radius: 5px;
  border: none;
  outline: none;
}

.address {
  margin-top: 20px;
}

.address legend {
  font-size: 14px;
  color: white;
}

.address_input {
  display: flex;
  flex-direction: column;
}

.button {
  background-color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  transition: all 0.3s;
  align-self: center;
  margin-top: 10px;
  padding: 10px;
  cursor: pointer;
}

.button:hover {
  scale: 1.05;
}

.customButton {
  background-color: #9a4112;
  font-size: 20px;
  color: white;
}