.field {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
  }
  
  .field label {
    margin-top: 10px;
  }
  
  .field select {
    margin-top: 5px;
    padding: 10px;
    font-size: 16px;
  }

  .error {
    color: #d70000;
  }