.field {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.field label {
  margin-top: 10px;
}

.field input {
  margin-top: 5px;
  padding: 10px;
  font-size: 16px;
}

.error {
  color: #f8bbbb;
  margin-top: 3px;
}
