.container_header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 20px;
}

.select_entries {
  margin-left: 5px;
}

.label_search {
  margin-right: 5px;
}

.footer {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 20px;
}

.currentPage {
  margin: 0 5px;
}

table {
  background-color: #c2520c;
  padding: 3px;
}

table td {
  padding: 5px;
}

.buttonConfirm {
  margin-right: 10px;
}