:root {
  --green-300: #88ed8b;
  --green-400: #4ddb51;
  --green-500: #26c12b;
  --green-600: #19a01e;
  --green-700: #18811c;
  --green-800: #18631b;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 1000px;
  margin: 0 auto;
}
